.custom-background {
  background-image: url('./assets//image.png');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the background image */
  height: 100vh; /* Makes the element's height equal to the viewport height */
}
.nav{
  background-image: linear-gradient();
}